.modelSelector
  .table
    border-collapse: collapse;
    border: 0 solid;
    width: 100%;

  .table tr td
    border: 0 solid;

  .selectBox
    width: 100%

  .actionButton
    border: 1px solid var(--ui-border-color-active)
    border-radius: 15px
    background-color: var(--active-color)
    color: var(--ui-gray-dark)
    line-height: 25px
    padding: 0 15px
    outline: none
    cursor: pointer

    &:hover, &:active
      background-color: var(--ui-sky-blue)

    &:disabled
      background-color: var(--ui-sky-blue)

    svg
      margin-right: 4px
      position: relative
      top: 2px
  .ui-btn-hover-b 
    -moz-box-shadow:0 1px 4px rgba(0,0,0,.3);
    -webkit-box-shadow:0 1px 4px rgba(0,0,0,.3);
    -moz-border-radius:1em;
    -webkit-border-radius:1em;
    border-radius:1em;
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding;
    background-clip:padding-box;
    box-shadow:0 1px 4px rgba(0,0,0,.3);
    border:1px solid #044062;
    background:#396b9e;
    font-weight:bold;
    color:#fff;
    text-shadow:0 1px 1px #194b7e;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#5f9cc5),to(#396b9e));
    background-image:-webkit-linear-gradient(#5f9cc5,#396b9e);
    background-image:-moz-linear-gradient(#5f9cc5,#396b9e);
    background-image:-ms-linear-gradient(#5f9cc5,#396b9e);
    background-image:-o-linear-gradient(#5f9cc5,#396b9e);
    background-image:linear-gradient(#5f9cc5,#396b9e)

    &:hover, &:active
      -moz-box-shadow:0 1px 4px rgba(0,0,0,.3);
      -webkit-box-shadow:0 1px 4px rgba(0,0,0,.3);
      border:1px solid #00415e;
      background-color:#4b88b6;
      font-weight:bold;
      color:#fff;
      text-shadow:0 1px 1px #194b7e;
      background:-webkit-gradient(linear,left top,left bottom,from(#6facd5),to(#4272a4));
      background:-webkit-linear-gradient(#6facd5,#4272a4);
      background:-moz-linear-gradient(#6facd5,#4272a4);
      background:-ms-linear-gradient(#6facd5,#4272a4);
      background:-o-linear-gradient(#6facd5,#4272a4);
      background:linear-gradient(#6facd5,#4272a4);
      -moz-border-radius:1em;
      -webkit-border-radius:1em;
      border-radius:1em;
      -webkit-background-clip:padding-box;
      -moz-background-clip:padding;
      background-clip:padding-box;
      box-shadow:0 1px 4px rgba(0,0,0,.3)

