.dcmseg-segmentation-panel {
  color: white;
  min-height: 200px;
  background-color: var(--primary-background-color);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.dcmseg-segmentation-panel.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.dcmseg-segmentation-panel h3 {
  margin-top: 0;
}

.dcmseg-segmentation-panel .segmentations {
  padding-bottom: 10px;
}

.dcmseg-segmentation-panel .cog-icon {
  align-self: flex-end;
  color: var(--default-color);
  cursor: pointer;
  min-height: 23px;
  max-height: 23px;
}

.dcmseg-segmentation-panel .cog-icon:hover {
  color: var(--hover-color);
}

.dcmseg-segmentation-panel .segmentation-icon {
  margin-right: 8px;
  margin-top: 12px;
  min-width: 14px;
}

.dcmseg-segmentation-panel .selector-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 150px;
}

.dcmseg-segmentation-panel .selector-form > div {
  width: 100%;
}

.dcmseg-segmentation-panel .selector-form > div:first-of-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dcmseg-segmentation-panel .tableList .tableListHeader .numberOfItems {
  float: unset;
  max-width: unset;
  flex: unset;
  margin-right: 16px;
}

.dcmseg-segmentation-panel .uploadButton {
  -moz-box-shadow: inset 0px 0px 15px 3px #95acbf;
  -webkit-box-shadow: inset 0px 0px 15px 3px #95acbf;
  box-shadow: inset 0px 0px 15px 3px #95acbf;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9ccef9), color-stop(1, #415989));
  background: -moz-linear-gradient(top, #9ccef9 5%, #415989 100%);
  background: -webkit-linear-gradient(top, #9ccef9 5%, #415989 100%);
  background: -o-linear-gradient(top, #9ccef9 5%, #415989 100%);
  background: -ms-linear-gradient(top, #9ccef9 5%, #415989 100%);
  background: linear-gradient(to bottom, #9ccef9 5%, #415989 100%);
  background-color: #d1084f;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  border: 1px solid #1f2f47;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 13px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
 }

.dcmseg-segmentation-panel .ui-btn-hover-b:hover {
  -moz-box-shadow:0 1px 4px rgba(0,0,0,.3);
 -webkit-box-shadow:0 1px 4px rgba(0,0,0,.3);
 border:1px solid #00415e;
 background-color:#4b88b6;
 font-weight:bold;
 color:#fff;
 text-shadow:0 1px 1px #194b7e;
 background:-webkit-gradient(linear,left top,left bottom,from(#6facd5),to(#4272a4));
 background:-webkit-linear-gradient(#6facd5,#4272a4);
 background:-moz-linear-gradient(#6facd5,#4272a4);
 background:-ms-linear-gradient(#6facd5,#4272a4);
 background:-o-linear-gradient(#6facd5,#4272a4);
 background:linear-gradient(#6facd5,#4272a4);
 -moz-border-radius:1em;
 -webkit-border-radius:1em;
 border-radius:1em;
 -webkit-background-clip:padding-box;
 -moz-background-clip:padding;
 background-clip:padding-box;
 box-shadow:0 1px 4px rgba(0,0,0,.3)
}

.dcmseg-segmentation-panel .ui-btn-hover-b {
  -moz-box-shadow:0 1px 4px rgba(0,0,0,.3);
 -webkit-box-shadow:0 1px 4px rgba(0,0,0,.3);
 -moz-border-radius:1em;
 -webkit-border-radius:1em;
 border-radius:1em;
 -webkit-background-clip:padding-box;
 -moz-background-clip:padding;
 background-clip:padding-box;
 box-shadow:0 1px 4px rgba(0,0,0,.3);
 border:1px solid #044062;
 background:#396b9e;
 font-weight:bold;
 color:#fff;
 text-shadow:0 1px 1px #194b7e;
 background-image:-webkit-gradient(linear,left top,left bottom,from(#5f9cc5),to(#396b9e));
 background-image:-webkit-linear-gradient(#5f9cc5,#396b9e);
 background-image:-moz-linear-gradient(#5f9cc5,#396b9e);
 background-image:-ms-linear-gradient(#5f9cc5,#396b9e);
 background-image:-o-linear-gradient(#5f9cc5,#396b9e);
 background-image:linear-gradient(#5f9cc5,#396b9e)
}

.dcmseg-segmentation-panel .ui-btn-hover-a {
 border:1px solid #111;
 background:#333;
 font-weight:bold;
 color:#fff;
 text-shadow:0 1px 1px #111;
 background-image:-webkit-gradient(linear,left top,left bottom,from(#444),to(#2d2d2d));
 background-image:-webkit-linear-gradient(#444,#2d2d2d);
 background-image:-moz-linear-gradient(#444,#2d2d2d);
 background-image:-ms-linear-gradient(#444,#2d2d2d);
 background-image:-o-linear-gradient(#444,#2d2d2d);
 background-image:linear-gradient(#444,#2d2d2d);
 -webkit-background-clip:padding-box;
 -moz-background-clip:padding;
 background-clip:padding-box;
 -moz-border-radius:1em;
 -webkit-border-radius:1em;
 border-radius:1em
}

.dcmseg-segmentation-panel .ui-btn-hover-a:hover {
 border:1px solid #000;
 background:#444;
 font-weight:bold;
 color:#fff;
 text-shadow:0 1px 1px #111;
 background-image:-webkit-gradient(linear,left top,left bottom,from(#555),to(#383838));
 background-image:-webkit-linear-gradient(#555,#383838);
 background-image:-moz-linear-gradient(#555,#383838);
 background-image:-ms-linear-gradient(#555,#383838);
 background-image:-o-linear-gradient(#555,#383838);
 background-image:linear-gradient(#555,#383838);
 -webkit-background-clip:padding-box;
 -moz-background-clip:padding;
 background-clip:padding-box;
 -moz-border-radius:1em;
 -webkit-border-radius:1em;
 border-radius:1em;
}

.dcmseg-segmentation-panel .ui-btn-hover-c {
 border:1px solid #111;
 background:#333;
 font-weight:bold;
 color:#fff;
 text-shadow:0 1px 1px #111;
 background-image:-webkit-gradient(linear,left top,left bottom,from(var(--ui-gray)),to(var(--ui-gray-dark)));
 background-image:-webkit-linear-gradient(var(--ui-gray),var(--ui-gray-dark));
 background-image:-moz-linear-gradient(var(--ui-gray),var(--ui-gray-dark));
 background-image:-ms-linear-gradient(var(--ui-gray),var(--ui-gray-dark));
 background-image:-o-linear-gradient(var(--ui-gray),var(--ui-gray-dark));
 background-image:linear-gradient(var(--ui-gray),var(--ui-gray-dark));
 -webkit-background-clip:padding-box;
 -moz-background-clip:padding;
 background-clip:padding-box;
 -moz-border-radius:1em;
 -webkit-border-radius:1em;
 border-radius:1em
}

.dcmseg-segmentation-panel .ui-btn-hover-c:hover {
 border:1px solid #000;
 background:#444;
 font-weight:bold;
 color:#fff;
 text-shadow:0 1px 1px #111;
 background-image:-webkit-gradient(linear,left top,left bottom,from(var(--ui-gray-light)),to(var(--box-background-color)));
 background-image:-webkit-linear-gradient(var(--ui-gray-light),var(--box-background-color));
 background-image:-moz-linear-gradient(var(--ui-gray-light),var(--box-background-color));
 background-image:-ms-linear-gradient(var(--ui-gray-light),var(--box-background-color));
 background-image:-o-linear-gradient(var(--ui-gray-light),var(--box-background-color));
 background-image:linear-gradient(var(--ui-gray-light),var(--box-background-color));
 -webkit-background-clip:padding-box;
 -moz-background-clip:padding;
 background-clip:padding-box;
 -moz-border-radius:1em;
 -webkit-border-radius:1em;
 border-radius:1em;
}


.SegmentsSection {
  display: flex;
  flex-direction: column;
  color: var(--text-primary-color);
  font-size: 12px;
  margin-bottom: 0px;
  height: 100%;
}

.SegmentsSection .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--ui-gray-dark);
  border-radius: 5px;
  font-weight: bold;
  padding: 10px 15px;
}

.SegmentsSection .count {
  font-size: 15px;
  color: var(--active-color);
  margin-left: 15px;
  border-radius: 5px;
  background-color: var(--ui-gray-darker);
  text-align: center;
  min-width: 25px;
}

.SegmentsSection .header .eye-icon,
.SegmentsSection .header .angle-double-down,
.SegmentsSection .header .angle-double-up {
  cursor: pointer;
  color: var(--active-color);
}

.SegmentsSection .header .eye-icon:hover,
.SegmentsSection .header .angle-double-down:hover,
.SegmentsSection .header .angle-double-up:hover {
  color: var(--hover-color);
}

.SegmentsSection .header .eye-icon.expanded {
  color: var(--default-color);
}

.SegmentsSection .header .icons {
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.SegmentsSection .header .icons .angle-double-down,
.SegmentsSection .header .icons .angle-double-up {
  margin-left: 15px;
}
